# IDE and editor config files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.swp

# macOS specific files
.DS_Store

#Arquivos de build
bin/*

#Arquivo de Configuração
.env